<h1>Edit a Dog</h1>


<%= form_for @dog do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>

  <p class='actions'>
    <%= f.submit 'Submit doggie' %>
  </p>

<% end %>